In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing

In [2]:
ipl=pd.read_csv('ipl.csv')
ipl.head()

,city,date,team1,team2,toss_winner,toss_decision,winner,First Innings Score
0,Abu Dhabi,19/09/2020,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,NaN
1,Dubai,20/09/2020,Delhi Capitals,Kings XI Punjab,Kings XI Punjab,field,Delhi Capitals,NaN
2,Abu Dhabi,21/10/2020,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,bat,Royal Challengers Bangalore,NaN
3,Sharjah,03/11/2020,Mumbai Indians,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,NaN
4,Sharjah,22/09/2020,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings,field,Rajasthan Royals,NaN

In [3]:
#dropping unwanted columns
ipl = ipl.drop(["First Innings Score","date"], axis =1)
len(ipl)

91

In [4]:
#Selecting only the fixtures that have been played so far
data = ipl[0:76]
data.tail()

,city,team1,team2,toss_winner,toss_decision,winner
71,Sharjah,Kolkata Knight Riders,Delhi Capitals,Kolkata Knight Riders,field,Kolkata Knight Riders
72,Abu Dhabi,Mumbai Indians,Kings XI Punjab,Mumbai Indians,field,Mumbai Indians
73,Dubai,Rajasthan Royals,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Royal Challengers Bangalore
74,Sharjah,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings
75,Dubai,Kolkata Knight Riders,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab

In [6]:
#Convert categorical variable into dummy/indicator variables
data_new = pd.get_dummies(data, prefix=["city","team1","team2","toss_winner","toss_decision"],columns=["city","team1","team2","toss_winner","toss_decision"])

In [7]:
X = data_new.drop(["winner"],axis=1)
y = data_new["winner"]

In [8]:
X_train = X[0:len(data_new)-1]
y_train = y[0:len(data_new)-1]
X_test = X.tail(1)
y_test = y.tail(1)

In [9]:
model=LogisticRegression()
model.fit(X_train,y_train)
train_score=model.score(X_train,y_train)
#test_score=model.score(X_test,y_test)
print("Traning accuracy: ",train_score)
#print("Testing accuracy: ",test_score)

Traning accuracy:  0.88

In [10]:
model.predict(X_test)

array(['Kings XI Punjab'], dtype=object)